.Pagination {
  text-align: center;
  margin-top: 1em;
}

.Pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.Pagination li {
  display: inline-block;
  cursor: pointer;
  padding: 7px;
}

.Pagination li + li {
  margin-left: 10px;
}

.Pagination .break a {
  cursor: default;
}
